@import '../../mixins';

.wrapper {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 3.75rem auto;
  grid-template-areas:
    "header header"
    "sidebar main";
  height: 100vh;

  .header {
    grid-area: header;
    padding: $spacer map-get($map: $spacers, $key: 4);
    border-bottom: 1px solid #000000;
    display: inline-block;

    .classroom {
      display: inline;
      font-size: 1.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .invite {
      display: inline-block;
      font-size: 0.85rem;
      font-weight: 700;
      margin-left: 12px;
      text-decoration: none;
      padding: 2px 10px;
      background-color: #ececec;
      border-radius: 6px;
    }
  }

  .left {
    grid-area: sidebar;
    border-right: 1px solid #000000;

    a {
      text-decoration: none;
      color: #000000;

      &.pending {
        color: #6c6c6c;
      }

      &:hover .name,
      &.active .name {
        background-color: #eeeeee;
      }

      &:focus-visible {
        text-decoration: underline solid #000000 2px;
      }
    }

    .name {
      padding: 10px map-get($map: $spacers, $key: 4);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1.05rem;
    }
  }

  .main {
    grid-area: main;
    padding: $spacer map-get($map: $spacers, $key: 4);
  }
}

.modal {
  .formButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.75rem;

    > * {
      margin-left: 0.5rem;
    }
  }
}
