{
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "semi": false,
      "singleQuote": true,
      "jsxSingleQuote": true,
      "endOfLine": "auto"
    }],
    "@next/next/no-img-element": 0,
    "react-hooks/exhaustive-deps": 0
  },
  "ignorePatterns": ["*.config.js"]
}
